#services:
#  app:
#    image: ${DOCKERHUB_USERNAME}/ess:${IMAGE_TAG:-latest}
#    container_name: ess-app
#    restart: unless-stopped
#    ports:
#      - "8080:8080"
#    environment:
#      SPRING_PROFILES_ACTIVE: prod
#      SPRING_DOCKER_COMPOSE_ENABLED: "false"
#      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
#      DB_USERNAME: ${DB_USERNAME}
#      DB_PASSWORD: ${DB_PASSWORD}
#      JWT_SECRET: ${JWT_SECRET}
#      JWT_EXPIRATION_MS: ${JWT_EXPIRATION_MS:-3600000}
#      PROFILE_IMAGE_BASE_PATH: /data/profile-images
#      FEATURE_DUMMY_DATA_ENABLED: "false"
#    volumes:
#      - profile-images:/data/profile-images
#
#volumes:
#  profile-images:
#
services:
  app:
    image: ${DOCKERHUB_USERNAME}/ess:${IMAGE_TAG:-latest}
    container_name: ess-app
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DOCKER_COMPOSE_ENABLED: "false"
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: ${SPRING_JPA_HIBERNATE_DDL_AUTO:-update}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRATION_MS: ${JWT_EXPIRATION_MS}
      PROFILE_IMAGE_BASE_PATH: /data/profile-images
      FEATURE_DUMMY_DATA_ENABLED: "false"
    volumes:
      - profile-images:/data/profile-images

volumes:
  profile-images: